.areaEducacion{
    padding: 20px;
    margin: 20px;
    border-radius: 0px 50px 0px 50px;
    box-shadow: 1px 1px 20px 2px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(243, 243, 243, 0.4);
}

.areaEducacion__titulo{
    font-family: 'Righteous', cursive;
    transition: 0.5s;
}

.areaEducacion:hover .areaEducacion__titulo {
    color: #203ca0;
    transition: 0.5s;
}

.areaEducacion__item{
    margin: 1rem 0;
}

.areaEducacion__item--descripcion{
    padding-bottom: 1rem;
}

h5{
    color: rgb(72, 71, 71);
}

.areaEducacion__item__botonesEditarEliminar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 5px;
}