.areaEducacion{
    padding: 20px;
    border: solid;
    margin: 20px;
    border-radius: 0px 50px 0px 50px;
    box-shadow: 1px 1px 20px 2px
}

.areaEducacion-titulo{
    font-family: 'Righteous', cursive;
}

.areaEducacion-botonesEdicionEliminar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.areaEducacion-item{
    margin: 1rem 0;
}