<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Inicio</a></li>
      <li class="nav-item"><a href="#acerca-de-mi" class="nav-link px-2 text-light">Acerca de Mi</a></li>
      <li class="nav-item"><a href="#experiencia" class="nav-link px-2 text-light">Experiencia</a></li>
      <li class="nav-item"><a href="#educacion" class="nav-link px-2 text-light">Educacion</a></li>
      <li class="nav-item"><a href="#skills" class="nav-link px-2 text-light">Hard & Soft Skills</a></li>
      <li class="nav-item"><a href="#proyectos" class="nav-link px-2 text-light">Proyectos</a></li>
    </ul>
    <p class="text-center text-light">© 2022 Oviedo Victor | Argentina, Córdoba</p>
  </footer>
</div>