<div class="row bg-primary text-white">
        
                <div class="col-2">
                         <img src="../../../assets/AP_logoBlanco.png" id="logo-AP" alt="Logotipo de Argentina Programa">
                </div>
                <div class="col-4"></div>
                <div class="col">
                        <app-redes-sociales></app-redes-sociales>
                </div> 
                
</div>

<div class="row">
        <div>     
                <img src="../../../assets/banner.jpg" alt="banner" id="banner">     
        </div>
</div>

<app-acerca-de></app-acerca-de>



