<div class="row">
    <h1 class="titulo">Experiencia laboral</h1>
    <div class="col-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(year)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ipsa, beatae at, iure hic labore veritatis minus voluptates atque quos cupiditate, in nam quidem animi? Sapiente velit dolore maxime nesciunt!
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(year)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ipsa, beatae at, iure hic labore veritatis minus voluptates atque quos cupiditate, in nam quidem animi? Sapiente velit dolore maxime nesciunt!
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(year)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ipsa, beatae at, iure hic labore veritatis minus voluptates atque quos cupiditate, in nam quidem animi? Sapiente velit dolore maxime nesciunt!
            </p>
        </ul>
    </div>
</div>