.areaExperiencia{
    padding: 20px;
    border: solid;
    margin: 20px;
    border-radius: 0px 50px 0px 50px;
    box-shadow: 1px 1px 20px 2px;
    background: rgba(244, 244, 244, 0.8);
}

.areaExperiencia__titulo{
    font-family: 'Righteous', cursive;
}

.areaExperiencia__item{
    margin: 1rem 0;
}

.areaExperiencia__item__botonesEditarEliminar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}