<div class="container">
    <div class="row justify-content-center">
        <div class="formulario">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label class="text-light bg-dark" for="nombreExp">
                        <h3>Nombre de la empresa</h3>
                    </label>
                    <input type="text" class="form-control" id="nombreExp" name="nombreExp"
                        placeholder="Nombre de la empresa" [(ngModel)]="nombreExp" required>
                </div>
                <div class="form-group col-9 col-sm-3 col-md-3 col-lg3 col-xl-3 col-xxl-3">
                    <label class="text-light bg-dark" for="imagenExp">
                        <h3>Imagen de la empresa</h3>
                    </label>
                    <input type="text" class="form-control" id="imagenExp" name="imagenExp"
                        placeholder="URL de imagen de empresa" [(ngModel)]="imagenExp" required>
                </div>
                <div class="form-group col-9 col-sm-3 col-md-3 col-lg3 col-xl-3 col-xxl-3">
                    <label class="text-light bg-dark" for="fechaExp">
                        <h3>Fecha</h3>
                    </label>
                    <input type="month" class="form-control" id="fechaExp" name="fechaExp" [(ngModel)]="fechaExp"
                        required>
                </div>
                <div class="form-group">
                    <label class="text-light bg-dark" for="descripcionExp">
                        <h3>Descripción</h3>
                    </label>
                    <textarea class="form-control" id="descripcionExp" name="descripcionExp" placeholder="Descripción"
                        rows="7" [(ngModel)]="descripcionExp" required></textarea>
                </div>
                <div class="botonera">
                    <button type="submit" class="btn btn-success">
                        Agregar Experiencia
                    </button>
                    <button type="button" class="btn btn-danger" routerLink="">
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>