.row{
    display: flex;
    align-items: center;
}

.navegacion__logoAP{
    width: 30%;
}

.navegacion__redesSociales{
    width: 10%;
    float: right;
    border-radius: 100%;
    padding: 3px;
}

.navegacion__login{
    text-align: center;
}

@media (max-width: 650px){
    .navegacion__logoAP{
        width: 100%;
    }
    .navegacion__redesSociales{
        width: 25%;
    }
    .navegacion__login{
        float: left;
    }
}