.row{
    display: flex;
    align-items: center;
}
#logo-AP{
    width: 30%;
}
.redes-sociales{
    width: 10%;
    float: right;
    border-radius: 100%;
    padding: 3px;
}
#login{
    text-align: center;
}
@media (max-width: 650px){
    #logo-AP{
        width: 100%;
    }
    .redes-sociales{
        width: 25%;
    }
    #login{
        float: left;
    }
}