<div class="row bg-dark text-white">
        <div class="col">
                <img src="../../../assets/AP_logoBlanco.png" id="logo-AP" alt="Logotipo de Argentina Programa">   
        </div>
        <div class="col">
                <a href=""><img src="../../../assets/1email.png" class="redes-sociales" alt="imagen email"></a>
                <a href=""><img src="../../../assets/1github.jpg" class="redes-sociales" alt="imagen Github"></a>
                <a href=""><img src="../../../assets/1instagram.png" class="redes-sociales" alt="imagen Instagram"></a> 
                <a href=""><img src="../../../assets/1linkedin.png" class="redes-sociales" alt="imagenLinkedin"></a>
        </div>
        <div class="col-2" id="login">
                        <button type="button" class="btn btn-light" (click)="login()" *ngIf="!isLogged"><a>Login</a></button>
                        <button type="button" class="btn btn-light" (click)="onLogOut()" *ngIf="isLogged"><a>Cerrar Sesión</a></button>
        </div>
</div>