<div class="row bg-dark text-white">
        <div class="col navegacion">
                <img src="../../../assets/AP_logoBlanco.png" class="navegacion__logoAP" alt="Logotipo de Argentina Programa">   
        </div>
        <div class="col">
                <a href="https://github.com/VictorAOviedo" target="_blank"><img src="../../../assets/1github.jpg" class="navegacion__redesSociales" alt="imagen Github"></a>
                <a href="https://www.instagram.com/victor87o/" target="_blank"><img src="../../../assets/1instagram.png" class="navegacion__redesSociales" alt="imagen Instagram"></a> 
                <a href="https://www.linkedin.com/in/victor-a-oviedo/" target="_blank"><img src="../../../assets/1linkedin.png" class="navegacion__redesSociales" alt="imagenLinkedin"></a>
        </div>
        <div class="col col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 navegacion__login">
                        <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged"><a>Login</a></button>
                        <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged"><a>Cerrar Sesión</a></button>
        </div>
</div>