.row {
    display: flex;
    align-items: center;
}

.navegacion__logoAP {
    width: 30%;
}

.navegacion__redesSociales {
    width: 10%;
    float: right;
    border-radius: 100%;
    padding: 3px;
    transition: width .5s;
}

.navegacion__login {
    text-align: center;
}

@media (max-width: 650px) {
    .navegacion__logoAP {
        width: 100%;
    }

    .navegacion__redesSociales {
        width: 33%;
    }

    .navegacion__login {
        float: left;
    }
}

@media (min-width: 769px) {
    .row {
        position: fixed;
        z-index: 10;
    }

    .navegacion__redesSociales:hover {
        width: 12%;
        border: 1px solid white;
        box-shadow: 1px 1px 20px 2px;
    }
}