<div class="row bg-primary text-white">
    <div class="col-2">
            <img src="../../../assets/AP_logoBlanco.png" id="logo-AP" alt="Logotipo de Argentina Programa">
    </div>

    <div class="col-5"></div>

    <div class="col-4">
            <a href=""><img src="../../../assets/1github.jpg" class="redes-sociales" alt="imagen Github"></a>
            <a href=""><img src="../../../assets/1instagram.png" class="redes-sociales" alt="imagen Instagram"></a> 
            <a href=""><img src="../../../assets/1linkedin.png" class="redes-sociales" alt="imagen Linkedin"></a>
            <a href=""><img src="../../../assets/1email.png" class="redes-sociales" alt="imagen email"></a>
    </div>

    <div class="col-1">entrar</div>
</div> 
