<div class="container-fluid">
    <div class="row">
        <div class="col">
            <app-header></app-header>           
            <app-acerca-de></app-acerca-de>
            <div><a name="experiencia"></a></div>
            <app-experiencia></app-experiencia>
            <div><a name="educacion"></a></div>
            <app-educacion></app-educacion>
            <div><a name="skills"></a></div>
            <app-hys-skills></app-hys-skills>
            <div><a name="proyectos"></a></div>
            <app-proyectos></app-proyectos>
            <app-footer></app-footer>
        </div>
    </div>
</div>

