.container{
    width:100vw;
    height:100vh;
}

.formulario {
    padding: 3rem;
}

.form-group {
    margin: 1rem 0;
}

button {
    margin: 2px;
}

@media (max-width: 768px) {
    .formulario {
        padding: 1rem;
    }

    .form-group {
        margin: 2rem 0 0 0;
    }
}