.row{
    padding: 20px;
    border: solid;
    margin: 20px;
    border-radius: 0px 50px 0px 50px;
    box-shadow: 1px 1px 20px 2px
}
.titulo{
    font-family: 'Righteous', cursive;
    padding: 20px;
}
p{
    font-family: 'Secular One', sans-serif;
    font-size: 25px;
    margin: 60px 0 0 0;
}