<div class="row">
    <h1 class="titulo">Hard & Soft Skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <p>HTML</p>
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageWidth]="150"
            [imageHeight]="150"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#e44d25'"
            [innerStrokeColor]="'#f2a48c'"
            [animation]="true"
            [animationDuration]="1200"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <p>CSS</p>
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/css.png'"
            [showImage]="true"
            [imageWidth]="150"
            [imageHeight]="150"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#379ad6'"
            [innerStrokeColor]="'#79bde5'"
            [animation]="true"
            [animationDuration]="1200"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <p>JAVASCRIPT</p>
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/JavaScript.png'"
            [showImage]="true"
            [imageWidth]="100"
            [imageHeight]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#f0db4f'"
            [innerStrokeColor]="'#f8eda7'"
            [animation]="true"
            [animationDuration]="1200"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <p>ANGULAR</p>
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/angular.png'"
            [showImage]="true"
            [imageWidth]="150"
            [imageHeight]="150"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#c4002b'"
            [innerStrokeColor]="'#e25e7f'"
            [animation]="true"
            [animationDuration]="1200"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <p>BOOTSTRAP</p>
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/bootstrap.png'"
            [showImage]="true"
            [imageWidth]="150"
            [imageHeight]="150"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#7a11f8'"
            [innerStrokeColor]="'#ac6cfc'"
            [animation]="true"
            [animationDuration]="1200"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <p>GIT</p>
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/git.png'"
            [showImage]="true"
            [imageWidth]="150"
            [imageHeight]="150"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#de4c36'"
            [innerStrokeColor]="'#eb9486'"
            [animation]="true"
            [animationDuration]="1200"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <p>GITHUB</p>
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/github2.png'"
            [showImage]="true"
            [imageWidth]="150"
            [imageHeight]="150"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#000000'"
            [innerStrokeColor]="'#333333'"
            [animation]="true"
            [animationDuration]="1200"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <p>TYPESCRIPT</p>
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/typescript.png'"
            [showImage]="true"
            [imageWidth]="100"
            [imageHeight]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#007acc'"
            [innerStrokeColor]="'#84bce4'"
            [animation]="true"
            [animationDuration]="1200"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <p>MYSQL</p>
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/mysql.png'"
            [showImage]="true"
            [imageWidth]="150"
            [imageHeight]="150"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#02618a'"
            [innerStrokeColor]="'#f0c98b'"
            [animation]="true"
            [animationDuration]="1200"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <p>PHOTOSHOP</p>
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/Photoshop.png'"
            [showImage]="true"
            [imageWidth]="120"
            [imageHeight]="120"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#001e36'"
            [innerStrokeColor]="'#83cbff'"
            [animation]="true"
            [animationDuration]="1200"
        ></circle-progress>
    </div>
</div>