.row{
    padding: 30px;
}

#foto-perfil{
    border-radius: 0px 50px 0px 50px;
    border: 3px solid;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

h3{
    text-shadow: 5px 5px 5px blue;
}

#nombre-titulo{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

#acerca-de-mi{
    margin-top: auto;
    margin-bottom: auto;
    text-align: justify;
}

@media (min-width: 576px){
    #nombre-titulo{
        margin-top: 80px;
    }
}