.row{
    padding: 20px;
    border: solid;
    margin: 20px;
    border-radius: 0px 50px 0px 50px;
    box-shadow: 1px 1px 20px 2px;
    background: white;
}
#foto-perfil{
    width: 60%;
    border: solid;
    margin: 20px;
    border-radius: 0 50px 0 50px;
    box-shadow: 1px 1px 20px 2px
}
h3{
    font-family: 'Secular One', sans-serif;
}
.titulo{
    font-family: 'Righteous', cursive;
}
#imagen-developer{
    width: 60%;
    float: right;
    margin: 30px 70px 30px 0;
}

/*id "tarjeta" hace referencia a foto de perfil + nombre + profesion*/
#tarjeta{
    position: relative;
    bottom: 150px;
}

@media (max-width: 767px){
    #tarjeta{
        bottom: 0;
    }
    #foto-perfil{
        border-radius: 50%;
    }
}