<div class="container">
    <div class="row acercaDe">
        <div class="col text-center acercaDe__persona">
            <div><a name="acerca-de-mi"></a></div>
            <img src="../../../assets/perfil.jpg" alt="foto de perfil" class="acercaDe__persona__fotoPerfil">
            <h3>{{persona.nombre}} {{persona.apellido}}</h3>
            <h5>{{persona.titulo}}</h5>
        </div>
        <div class="col acercaDe__descripcion">
            <h1 class="acercaDe__descripcion__titulo">Acerca de mi</h1>
            <p>{{persona.descripcion}}</p>
            <img src="../../../assets/dev1.gif" class="acercaDe__descripcion__imagen" alt="developer">
        </div>
    </div>
</div>