.acercaDe{
    padding: 20px;
    border: solid;
    margin: 20px;
    border-radius: 0px 50px 0px 50px;
    box-shadow: 1px 1px 20px 2px;
    background: rgba(244, 244, 244, 0.8);
}
.acercaDe__persona__fotoPerfil{
    width: 60%;
    border: solid;
    margin: 20px;
    border-radius: 0 50px 0 50px;
    box-shadow: 1px 1px 20px 2px
}
h3{
    font-family: 'Secular One', sans-serif;
}
.acercaDe__descripcion__titulo{
    font-family: 'Righteous', cursive;
}
.acercaDe__descripcion__imagen{
    width: 60%;
    float: right;
    margin: 30px 70px 30px 0;
}

/*foto de perfil + nombre + profesion*/
.acercaDe__persona{
    position: relative;
    bottom: 150px;
}

@media (max-width: 767px){
    .acercaDe__persona{
        bottom: 0;
    }
    .acercaDe__persona__fotoPerfil{
        border-radius: 50%;
    }
}