<div class="container">
    <div class="row justify-content-center">
        <div class="formulario">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">

                <div class="form-group">
                    <label class="text-light bg-dark" for="nombreSkill">
                        <h3>Nombre Hard & Soft Skills</h3>
                    </label>
                    <input type="text" class="form-control" id="nombreSkill" name="nombreSkill"
                        placeholder="Nombre de Hard & Soft Skills" [(ngModel)]="nombreSkills" required>
                </div>
                <div class="form-group col-9 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                    <label class="text-light bg-dark" for="fotoSkill">
                        <h3>Imagen</h3>
                    </label>
                    <input type="url" class="form-control" id="fotoSkill" name="fotoSkill" placeholder="URL de imagen" [(ngModel)]="imagenSkills"
                        required>
                </div>

                <div class="form-group col-9 col-sm-3 col-md-3 col-lg3 col-xl-3 col-xxl-3">
                    <label class="text-light bg-dark" for="porcentajeSkill">
                        <h3>Porcentaje</h3>
                    </label><br>                   
                        <input type="number" class="form-control" id="porcentajeSkill" name="porcentajeSkill" placeholder="0 - 100" min="0" max="100"
                        rows="7" [(ngModel)]="porcentajeSkills" required>                                          
                </div>

                <div class="form-group col-9 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                    <label class="text-light bg-dark" for="colorPrimarioSkill">
                        <h3>Color de porcentaje</h3>
                    </label>
                        <input type="color" value="#ff0000" class="form-control form-control-color" id="colorPrimarioSkill" value="#563d7c" name="colorPrimarioSkill" placeholder="Color Primario" [(ngModel)]="colorPrimarioSkills"
                        required>                                     
                </div>
                <div class="form-group col-9 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                    <label class="text-light bg-dark" for="colorSecundarioSkill">
                        <h3>Color interno</h3>
                    </label>
                    <input type="color" value="#ff0000" class="form-control form-control-color" id="colorSecundarioSkill" value="#cab0f2" name="colorSecundarioSkill" placeholder="Color Secundario" [(ngModel)]="colorSecundarioSkills"
                        required>
                </div>
                <button type="submit" class="btn btn-success">
                    Agregar Hard & Soft Skills
                </button>
                <button type="button" class="btn btn-danger" routerLink="">
                    Cancelar
                </button>
            </form>
        </div>
    </div>
</div>